.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.523);
  z-index: 20;
  animation: backdrop 0.4s ease-out;
}

.appointment-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 1.5rem 2rem;
  color: white;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px #444;
  margin-top: 4rem;
}

.appointment-success button {
  padding: 0.2rem 1rem;
  background-color: rgb(29, 177, 226);
  color: white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 4px #000;
  margin-top: 1rem;
}

@keyframes backdrop {
  0% {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    top: 50%;
    left: 50%;
  }
  100% {
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
  }
}

.cancel-modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 21;
  align-items: stretch;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 15px 1px #444, 0 0 15px rgb(142, 141, 141);
  animation: modal 0.5s ease-out;
}
.cancel-modal * {
  animation: modal 0.5s ease-out;
}
@keyframes modal {
  0% {
    opacity: 0;
    max-height: 0;
    /* transform: translate(-50%, -50%); */
    /* top: 50%;
    left: 50%; */
  }
  100% {
    /* max-width: 600px; */
    max-height: 300px;
    /* top: 50vh;
    left: 50vw; */
    /* border-radius: 0.5rem; */
    /* transform: translate(-50%, -50%); */
    opacity: 1;
  }
}

.form-container {
  /* width: 30%; */
  max-width: 40%;
  align-items: stretch;
}

.form-container * {
  animation: roleCardEntry 0.7s ease;
}

@keyframes roleCardEntry {
  0% {
    opacity: 0;
    max-height: 0px;
  }

  100% {
    opacity: 1;
    max-height: 400px;
  }
}
.custom {
  background-color: rgb(17, 168, 206);
}

.custom:last-of-type {
  box-shadow: 1px 1px 5px #333;
}

.custom:hover {
  background-color: rgb(15, 129, 158);
}

.form-container button {
  font-size: 12px;
}

@media (min-width: 1000px) {
  .form-container {
    max-width: 30%;
  }
}
