<div class="main-content">
  <p>We are at the heart of appropriate care</p>
  <div class="roleContainer">
    <div class="roleCard">
      <div class="img-container">
        <img src="../../assets/Images/LifeCoachLogIn.jpg" alt="Coach" />
      </div>
      <a routerLink="/login/coaches"><button>Login as a Coach</button></a>
      <a routerLink="/signup/coaches"><button>Join as a Coach</button></a>
    </div>
    <h4  class="hidden">OR</h4>
    <div class="roleCard">
      <div class="img-container">
        <img src="../../assets/Images/UserLogIn.jpg" alt="User" />
      </div>
      <a routerLink="/login/users"><button>Login as a User</button></a>
      <a routerLink="/signup/users"><button>Join as a User</button></a>
    </div>
  </div>
</div>
