<div class="main-content">
  <p>We are at the heart of appropriate care</p>
  <div class="roleContainer">
    <div class="roleCard">
      <div class="img-container">
        <img src="../../assets/Images/LifeCoachLogIn.jpg" alt="Coach" />
      </div>
      <button>Login as a Coach</button>
      <button>Join as a Coach</button>
    </div>
    <div class="roleCard">
      <div class="img-container">
        <img src="../../assets/Images/UserLogIn.jpg" alt="User" />
      </div>
      <button>Login as a User</button>
      <button>Join as a User</button>
    </div>
  </div>
</div>
